.img1 {
    float: left;
    margin: 1%;
}

.img2 {
    float: right;
    margin: 1%;
}

.infobox1 {
    background: #A8A8A8;
    align-content: center;
    padding: 4%;
    margin-bottom: 1% #A8A8A8;
    border: solid;
}

.pers {
    padding: 3%;
    margin: 1%;
}

.infobox2 {
    align-content: center;
    padding: 4%;
    margin-bottom: 1% #A8A8A8;
}

.infobody {
    background: #A8A8A8;
    height: 100vh;
}

body {
    margin: 0;
    padding: 0;
    
}

#container {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    margin: auto;
    margin-top: -50px;
    z-index:  -1;
    position: fixed;
}

.infobox {
    margin-top: 50px;
    height: 1500px;
    background-color: aqua;
    width: 80%;
    text-align: center;
}

.conttentinput {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    height: 100%;
    text-align: center;
}

input[type=text] {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: table;
    width: 10%;
    margin: auto;
    /*box-sizing: border-box;*/
}

label {
    margin-top: 1%;
}

#Submit {
    margin-top: 1%;
    width: 10%;
    padding-top: 1%;
    padding-bottom: 1%;
}